*.iml
*.log
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild

/temp
/apk
/libs-pro-local-repo

/host-app-config/temp
src/co.tiangongsky.bxsdk.demoapp1/
src/com.bxvip.app.bxvipqa/
src/com.shishicai/
host/src/co.tiangongsky.bxsdk.demoapp1/
host/src/com.bxvip.app.bxvipqa/
host/src/com.shishicai/
